body {
    background-color: #BDC0BA;

}

.playerlist {
    background-color: white;
    width : 15vw;
    height : 75vh;
    position: absolute;
    left : 2.5vw;
    top : 5vh;
    text-align:center;
    line-height:3.5vh;
    font-size:20px;
    border-radius :15px;
    box-shadow: 0vw 0vw 0.5vw 0.5vw grey;
    padding : 3px;
    opacity : 0.6;

}

.button{
  width : 6vw;
  height : 75vh;
  top : 10vh;
  left : 22vw;
  line-height:10vh;
  position: absolute;
}
.button img{
  width : 5vw;
  height : 7.5vh;
}

.window{
    background-color: #D7C4BB;
    width : 68vw;
    height : 95vh;
    position: absolute;
    top  : 2.5vh;
    left : 30vw;
    border-radius :15px;
    box-shadow: 0vw 0vw 0.5vw 0.2vw grey;
    line-height:1vh;
    position: absolute;
}

.player{
  background-color: #F596AA;
  width : 80%;
  height : 15%;
  margin:0 auto;
  border-radius :15px;
}

.pic_ghost{
  width : 75%;
  height : 20%;
}

.save_region{
  background-color:#58B2DC;
  width : 10vw;
  height : 15vh;
  position: absolute;
  border-radius :15px;
  border-style: dotted;
  text-align:center;
  line-height:12.5vh;
}

.safe2{
  right :0;
}

.safe3{
  bottom: 0vh;
}

.safe4{
  right:0;
  bottom: 0vh;
}

.input_player{
  background-color:grey;
  width : 350px;
  height : 150px;
  top :50%;
  left :50%;
  margin: -75px 0 0 -175px;
  position: absolute;
  text-align:center;
  font-size:26px;
  line-height:10px;
  border-radius: 15px;
  box-shadow: 0vw 0vw 0.5vw 0.2vw black;
}

.playerModel img{
  width : 75px;
  height : 100px;
  position: absolute;
}

#player1{
  top :50%;
  left :50%;
  margin: -180px 0 0 -40px;
}
#player2{
  top :50%;
  left :50%;
  margin: -50px 0 0 -270px;
}#player3{
  top :50%;
  left :50%;
  margin: -50px 0 0 200px;
}
