body {
    background-color: #BDC0BA;

}

.feed {
    background-color: #69B0AC;
    width : 20vw;
    height : 95vh;
    position: relative;
    left : 2.5vw;
    float :left;
    text-align:center;
    line-height:5vh;
    font-size:24px;
    border-radius :15px;
    box-shadow: 0vw 0vw 0.5vw 0.5vw grey;
    padding : 3px;
    opacity : 0.6;

}

.catAlbum{
    background-color: #D7C4BB;
    width : 70vw;
    height : 95vh;
    position: relative;
    left : 25vw;
    border-radius :15px;
    box-shadow: 0vw 0vw 0.5vw 0.2vw grey;
    line-height:1vh;
    position: relative;
}

.title{
    background-color: #656765;
    width : 70vw;
    height : 5vh;
    top : 5vh;
    position: absolute;
    text-align:center;
    color : white;
    border-radius :15px;
}

.cat{
    width : 20vw;
    height : 30vh;
    border-style: dotted;
    z-index: 1;
    position: absolute;
}

img{
    width : 20vw;
    height : 25vh;
    border-radius :15px;
}

.textbox{
    width : 20vw;
    height : 5vh;

}

.catText{
    background-color: #F4A7B9;
    width : 5vw;
    height : 4vh;
    float :left;
    border-radius :15px;
    border-style: solid;
    text-align:center;
    line-height:1vh;

}

.ragdoll{
    background-color: #91B493;
    width : 5vw;
    height : 4vh;
    float :right;
    border-radius :15px;
    border-style: solid;

    text-align:center;
    line-height:1vh;

}

.cat1{
    left : 2.5vw;
    top : 15vh;

}


.cat2{
    top : 15vh;
    left : 25vw;
}

.cat3{
    top : 15vh;
    left : 47.5vw;
}
.cat4{
    top : 60vh;
    left : 10vw;
}
.cat5{
    top : 60vh;
    left: 42.5vw;
}

.pic_feed{
    width : 15vw;
    height : 25vh;
    top :0;
    left : 2.5vw;
    z-index: -1;
    position: absolute;
}

#glass1{
    z-index: -1;
    position: absolute;
    left : 0.5vw;
    bottom: 5vh;
}

#glass2{
    z-index: -1;
    position: absolute;
    left : 80vw;
    bottom: 5vh;
}
